/* здесь используйте глобальные переменные */
$primary-font: "Inter-Regular", "Arial", sans-serif;
$secondary-font: "Inter-Bold", "Arial", sans-serif;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$primary-color-text: #474747;
$secondary-color-text: #666666;
$secondary-color-text-2: #ffffff;
$secondary-color-text-3: #cacaca;
$accent-color-text: #db6300;

$primary-bg: #ffffff;
$secondary-bg: #fffbf3;
$secondary-bg-2: #fafaff;
$secondary-bg-3: #fffcf6;
$accent-bg: #db6300;


$additional-color: #e5e5e5;
$accent-color: #db6300;
$accent-color-2: #eeaa2b;

$primary-border-color: #cacaca;
$secondary-border-color: #db6300;

$primary-border: 1px solid $primary-border-color;
$secondary-border: 1px solid $secondary-border-color;
