/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";
@import "./common/container.scss";


/* BLOCKS */

@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/footer.scss";
@import "./blocks/navigation.scss";
@import "./blocks/hero.scss";
@import "./blocks/site-logo.scss";
@import "./blocks/title/title-h1.scss";
@import "./blocks/title/title-h2.scss";
@import "./blocks/title/title.scss";
@import "./blocks/subtitle.scss";
@import "./blocks/contacts.scss";
@import "./blocks/benefits.scss";
@import "./blocks/search-form.scss";
@import "./blocks/services.scss";
@import "./blocks/services-card.scss";
@import "./blocks/recommends.scss";
@import "./blocks/carousel.scss";
@import "./blocks/carousel-card.scss";
@import "./blocks/carousel-dots.scss";
@import "./blocks/booking.scss";
@import "./blocks/booking-example.scss";
@import "./blocks/example-trip.scss";
@import "./blocks/feedback.scss";
@import "./blocks/feedback-slider.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/subscribe-form.scss";
@import "./blocks/community-info.scss";
@import "./blocks/company-info.scss";
@import "./blocks/social.scss";
