.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  text-decoration: none;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 50%;
  gap: 0 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation__link {
  text-decoration: none;
  display: block;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: $font-weight-bold;
  line-height: 26px;
  color: $secondary-color-text;
  cursor: pointer;
  padding: 5px 0;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.navigation__button {
  text-decoration: none;
  color: $secondary-color-text-2;
  margin-left: 43px;
  padding: 12px 56px;
}
