.recommends__resume {
  color: $secondary-color-text;
  text-align: center;
  margin: 0 0 13px;
  font-size: 14px;
  line-height: 24px;
}

.recommends__title {
  text-align: center;
  margin: 0 0 14px;
}

.recommends__subtitle {
  max-width: 970px;
  text-align: center;
  margin: 0 auto 50px;
}
